.map_filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    
}

.inactive-toggle{
    background-color: #2B3D5B;
    opacity: 80%;
    height: 8%;
    border-radius: 18px;
    border: none;
    width: 4%;
    margin-left: 12%;
    margin-top: 2%;
    pointer-events: all;
    cursor: pointer;
    padding: 5px 5px;
}

.active-toggle{
    background-color: #2B3D5B;
    opacity: 100%;
    height: 8%;
    border-radius: 18px;
    border: none;
    width: 4%;
    margin-left: 12%;
    margin-top: 2%;
    pointer-events: all;
    cursor: pointer;
    padding: 5px 5px;
}

.active-toggle:hover{
    opacity: 80%;
}

.inactive-toggle:hover {
    opacity: 60%;
}

.inactive-toggle img {
    filter: opacity(80);
}


.filter-list {
    background-color: hwb(218 17% 64% / 0.6);
    color: white;
    pointer-events: all;
    cursor: auto;
    margin-left: -0.6%;
    width:13%;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    
    padding: 1%;
    gap: 1%;
    height: 60%;
    margin-left: 1.6%;
}

.filter {
    display: flex;
    align-items: center;
    gap: 5%;
    height: 10%;
    padding: 2%;
    
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.filter span{
    display: flex;
    align-items: center;
    gap: 5%;
    height: 10%;
    padding: 2%;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    
}

.filter:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.filter-check {
    appearance: none;
    width: 8%;
    height: 60%;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.filter-check:hover {
    background-color: rgba(255, 255, 255,0.5);
    box-shadow: inset 0 0 0 2px hsla(218, 36%, 26%, 0.6);
    border: 2px solid white;
}

.filter-check:checked {
    background-color: rgba(255, 255, 255);
    box-shadow: inset 0 0 0 2px hsla(218, 36%, 26%, 0.6);
    border: 2px solid white;
}

.filter-icon {
  width: 8%;
  height: 60%;
  object-fit: contain;
  filter: drop-shadow(0 0 5px rgb(43, 61, 91));
}

.dark-filter-icon {
    filter: saturate(1.45) brightness(1.2) drop-shadow(0 0 7px rgba(255, 255, 255, 0.4));
}

.dark-filter-portIcon {
    filter: saturate(1.45) brightness(1.2);
}
