.map_page {
    flex: 1;
    height: 100%;
    width: 100%;
}

.map {
    flex: 1;
    height: 100%;
    width: 100%;
    z-index: 999;
    position: relative;
}


.map_functions {
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none; 
}

.map_buttons {
    position: absolute;
    left: 80%;
    top: 1%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.zoom_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 5%;
    height: 10%;
    margin-bottom: 0%;
    margin-top: -5%;
    margin-left: 12%;
    
}

.zoom_button {
    background-color: hwb(218 17% 64% / 0.8);
    color: white;
    border: none;
    width: 40%;
    height: 15%;
    cursor: pointer;
    filter: none;
    padding: 0.5rem;
    font-size: 1rem;
    height: fit-content;
    pointer-events: all;
}

.dark-zoom {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

.zoom_button:hover {
    background-color: hwb(218 17% 64% / 0.4);
}

.select_area {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hwb(218 17% 64% / 0.8);

    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5rem;
    gap: 0.5rem;
    height: 4%;
    width: 7%;
    pointer-events: all;
    margin-left: 8.5%;
}

.select_area img {
    margin-top: 4%;
    width: 24px;
    height: 24px;
}

.select_area p {
    margin-top: 4%;
    margin-left: 4%;
}

.select_area:hover {
    background-color: hwb(218 17% 64% / 0.4);
}


.dark .leaflet-layer,
.dark .leaflet-control-zoom-in,
.dark .leaflet-control-zoom-out,
.dark .leaflet-control-attribution {
    filter: invert(100%) saturate(20%) invert(25%) sepia(20%) saturate(350%) hue-rotate(173deg) brightness(80%) contrast(110%);
}


.vessel_popup {
    height: 35vh;
    width: 35vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.port_popup {
    height: 35vh;
    width: 38vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.leaflet-popup-content {
    margin: 0;
}

.popup_header {
    display: flex;
    flex-direction: row;
    height: 20%;
    margin-left: 0.5rem;
    padding: 0.5rem;
    height: 25%;
    width: 25%;
    padding: 6px;
    border-radius: 12px;
}


.popup_header_2 {
    display: block; /* Use block instead of flex on img */
    max-width: 85%; /* Shrinks image inside the box */
    height: auto;
    margin: auto; /* optional: centers image inside box */
    outline: 2px solid rgb(43, 61, 91,0.8);
    box-shadow: inset 0 0px 7px rgba(0, 0, 0, 0.2);
    padding: 6px;
    border-radius: 12px;
}


.popup_header_2 img {

    max-width: 6vw; /* Shrinks image inside the box */
    max-height: 6vh;
    filter: brightness(0) saturate(100%) invert(20%) sepia(7%) saturate(3839%) hue-rotate(179deg) brightness(92%) contrast(86%) drop-shadow(0 0 10px rgb(255, 255, 255));
}

.popup_title{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.vessel_name {
    margin-top: 10%;
    overflow-y: hidden;
    font-size: 20px;
    font-weight: 600;
    flex-wrap: wrap; 
    flex-direction: row;      
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    max-width: 80%;   
    color: rgba(43, 61, 91);
}

.meta_data {
    display: flex;
    flex-direction: row;
    font-size: 11;
    opacity: 60%;
}

.meta_line {
    flex-direction: column;
    margin-left: 0.2rem;
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;   
    max-width: 80%;        
    margin-top: -1%;   
}

.popup_header_info{
    display: flex;
    flex-direction: row;
    max-width: 100px;
    max-height: 100px;
    font-size: 11px;
}

.popup_header_info_port{
    display: flex;
    flex-direction: row;
    max-width: 100px;
    max-height: 100px;
    font-size: 11px;
}


.leaflet-popup-tip {
	visibility: hidden;;
}

.vessel_meta{
    padding: 10px;
    margin-top: -5px;
    flex-direction: row;      
    white-space: nowrap;          
    text-overflow: ellipsis;   
    width: 32vh;
    height: fit-content;
    position: center;
}

.meta_line_2 {
    font-size: 14px;
    max-width: 120%;     
    flex-direction: row;      
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    max-width: 100%;  
    margin-left: 1.2rem;
    color: rgba(43, 61, 91);
}

.meta_line_2 strong{
    opacity: 60%;
    color: black;
}


.meta_line_3 {
    color: rgba(43, 61, 91, 0.60);
    font-size: 10px;
    margin-top: 0.2rem;
    margin-left: 0.6rem;
    max-width: 120%;     
    flex-direction: row;      
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    max-width: 100%;
    font-style: italic;     
    justify-self: center;
}

.popup_buttons{
    flex-direction: row;
    display: flex;
    margin-top: 22%;
    justify-content: center;
}

.view_button {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 61, 91);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5rem;
    padding-top: 0.6rem;
    gap: 0.5rem;
    height: 4vh;
    width: 7vw;
    pointer-events: all;
    margin-left: 8.5%;
}

.add_fleet {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid rgba(43, 61, 91);
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(43, 61, 91);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5rem;
    padding-top: 0.6rem;
    gap: 0.5rem;
    height: 4vh;
    width: 7vw;
    pointer-events: all;
    margin-left: 8.5%;
}


.selection-ui {
    position: absolute;
    bottom: 1.5rem;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
    z-index: 10002;
    width: auto;      /* only as wide as its contents */
}

.selection-ui .message {
    font-size: 0.95rem;
    font-weight: 1000;
    text-align: center;
}

/* Buttons row */
.selection-ui .btn-row {
    display: flex;
    gap: 0.9rem;
}

.selection-ui button {
    padding: 0.4rem 0.8rem;
    border: none;
    background: hwb(218 17% 64% / 0.8);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    width: auto;      /* don’t stretch buttons */
}
.selection-ui button:hover {
    background: hwb(218 17% 64% / 0.6);
}
  


/* .popup_header_info {
    display: flex;
    flex-direction: column;
} */