/* Container */
.side-nav {
    height: 100vh;
    position: absolute;
    background: linear-gradient(to bottom, rgb(43, 61, 91), #1E1E1E);
    pointer-events: all;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-right: 10px solid rgb(204, 125, 81);
    color: white;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    width: 5%;
    cursor: auto;
    z-index: 999;
}

.side-nav.expanded:hover {
    width: 13%;
    font-size: 24px;
}

/* Logo */
.shipreclogo-container {
    display: flex;
    gap: 10px;
    padding: 20px 16px;
    height: 20%;
}

.shipreclogo-icon {
    width: fit-content;
    height: 65px;
    filter: brightness(0) saturate(100%) invert(64%) sepia(7%) saturate(3807%) hue-rotate(333deg) brightness(87%) contrast(81%);
    margin-bottom: auto;
    position: center;

}

.shipreclogo-icon-admin-logo {
  width: fit-content;
  height: 65px;
  filter: brightness(0) saturate(100%) invert(64%) sepia(7%) saturate(3807%) hue-rotate(333deg) brightness(87%) contrast(81%);
  margin-bottom: auto;
  position: center;
  padding-top: 8px;
  transform: scale(1.15);
  padding-left: 4%;
}


.side-nav.expanded:hover .shipreclogo-icon {
    padding-left: 6%;
}

.side-nav.expanded:hover .shipreclogo-icon-admin-logo{
  padding-top: 2px;
  padding-left: 10.5% !important;
}


.nav-body {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.top-tabs{
    display: flex;
    flex-direction: column;
    height: 30%;
}
.bottom-tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    height: 40%;
}

.tab {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    cursor: pointer;
    gap: 10px; 
    height: auto; 
}


.tab:hover {
    filter: opacity(0.6) drop-shadow(0 0 4px rgb(43, 61, 91));
}

.tab-icon {
    width: fit-content;
    height: 45px;
    padding: 5px;

}

.tab-label {
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    display: block;
    margin-top: 10%
}

.signout {
  background-color: #232B37;
}

.signout:hover{
  filter: saturate(0.8) opacity(0.8);
}

.register {
  background-color: #FF4928;
}

.register:hover {

  filter: saturate(0.8) opacity(0.8);
}

.signin {
  background-color: #FFFFFF;
  color: #22262E
}

.signin:hover{
  filter: saturate(0.8) opacity(0.8);
}

.active-tab {
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));
}