.background {
    background-image: url('/public/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;  
    position: relative;   
}

.form-container {
    height: auto;
    max-height: 90vh;
    width: 25%;
    background-color: rgba(204, 125, 81, 0.3);
    padding: 2%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-left: 58.5%;
    margin-top: 3%;
    flex-direction: column;
    position: absolute;
}

.containers-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10%;
}

.logo-container {
    height: 180px;
    width: 380px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 3%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    font-style: italic;
    font-size: xx-large;
    color: #2B3D5B;
    margin-top: 10%;
}

.message-logo {
    filter: brightness(0) saturate(100%) invert(23%) sepia(15%) saturate(1537%) hue-rotate(179deg) brightness(91%) contrast(95%);
    height: 50%;
    margin-top: 10%;
}

/* for sign-in page */
.form-input { /* form input container (white boxes) */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3.2%;
    gap: 1rem;
    font-family: sans-serif;
}

.form-input label {
    color: #2B3D5B;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 2px;
}

.form-input input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}


.signin-page .forgot-password { /* forgot password text */
    display: block;
    font-size: 0.9rem;
    margin-top: -0.025%;
    margin-bottom: 0.05%;
}

.sign-button {
    background-color: #2B3D5B;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #1e2d45;
}

.register-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}


/* for register page */
.name-input {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.field-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 10%;
}

.field-group input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
}

.country-select {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
}