.returnBtn-container {
    display: flex;           
    justify-content: flex-start;
    margin-left: 12vw; 
    margin-top: 2vh;
    padding: 10px 10px;
}

.returnBtn {
    display: flex;              /* Needed for flex centering */
    align-items: center;        /* Vertical centering */
    justify-content: left;    /* Horizontal centering */
    background-color: #2c3e50;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 4vh;
    width: 7vw;
}

.returnBtn:hover {
    background-color: #1a252f;
}

.returnBtn img{
    min-width: 20px;
    min-height: 20px;  
    margin-left: 4px;
}