@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&display=swap');


* {
    margin: 0;
    font-family:Kantumruy Pro;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    padding: 0;  
}

.body{
    overflow: hidden;
}

code {
    font-family:Kantumruy Pro;
}

.footer {
    margin-left: 5.5%;
    position: sticky;
    bottom: 0;
    margin-bottom: 0%;
    margin-top: 50%;
    width: 94.5%;
    height: 2%;
    background-color: hsla(0, 0%, 75%, 0.28);
    flex-direction: column;
}
